body {
    color: #566787;
    background: #c0ebc0;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
}
.container{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding: 10px 50px 20px 50px;
    margin: 50px 450px;
}
.info h2{
    text-align: center;
    color: #0AAD0A;
}
.container .form-group label{
    display: block;
    padding: 15px 0 10px 0;
}
.container .form-group input{
    text-indent: 10px;
    display: block;
    padding: 10px 0;
    width: 98%;
    outline: none;
    border: solid 2px #0AAD0A;
    border-radius: 10px;
}
.container .form-footer{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.container .btn-save{
    background-color: #0AAD0A;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 30px;
}
.container .btn-save:hover{
    background-color: #0d740d;
}